/*
*
*
Bootstrap overwhriting
*
*
*/

.pg input,
.pg button,
.pg select,
.pg textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.pg img {
    width: 100%;
}


.pg [class*="icon-"] {
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  margin:10px 0;
}

h1,
.h1 {
  font-size: 32px;
  letter-spacing: -1px;
}
h2,
.h2 {
  font-size: 24px;
  letter-spacing: -1px;
}
h3,
.h3 {
  font-size: 20px;
  letter-spacing: -1px;
}
h4,
.h4 {
  font-size: 18px;
  letter-spacing: -1px;
}
h5,
.h5 {
  font-size: 15px;
}
h6,
.h6 {
  font-size: 12px;
}

.pg [class*="col-span-"] {
    padding-left: 0;
    padding-right: 0;

}

.g-container {
}

.g-row {
    margin-left:0;
    margin-right: 0;
}

.g-navbar {
    background-color: #333;
    border-bottom: 1px solid #222;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    -o-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}


.g-navbar .navbar-inner {
    min-height: 30px;
}

.g-navbar .nav > li {
    border-right: 1px solid #222;
    border-left: 1px solid #444;
}

.g-navbar .nav > li > a {
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
    color: #ddd;
    text-shadow: 0 1px 0 #000;
    background-color: rgba(255,255,255,0);
    -webkit-transition: background-color linear 0.2s;
     -moz-transition: background-color linear 0.2s;
       -o-transition: background-color linear 0.2s;
          transition: background-color linear 0.2s;
}

.g-navbar .nav > li > a:hover,
.g-navbar .nav > li > a:focus {
    color: #fff;
    background-color: rgba(255,255,255,0.1);
}

.g-navbar .nav > li:first-child {
    border-left: 1px solid #444;
}

.g-navbar .nav > li:last-child {
    border-right: 1px solid #444;
}


.g-btn {
    color: #222;
    font-weight: bold;
    background-color: #eee;
    border: none;
    -webkit-transition: background-color 0.35s ease;
     -moz-transition: background-color 0.35s ease;
       -o-transition: background-color 0.35s ease;
          transition: background-color 0.35s ease;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);      
}

.g-btn:active,
.g-btn.active {
    color: #fff;
    background-color: #aa0000;
    border: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    
    -webkit-box-shadow: 1px  1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 1px  1px 1px rgba(0, 0, 0, 0.25) !important;
    -o-box-shadow: 1px  1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 1px  1px 1px rgba(0, 0, 0, 0.25) !important；
}

.g-btn:hover {
    color: #000;
    background-color: #ddd;
    border: none;
}

.g-btn.active:hover {
    color: #fff;
    background-color: #cc0000;
    border: none;
}

.g-btn span.caret {
    border-top-color: #dd0000;
}



/*
*
*
Guru Styles
*
*
*/

html {
    -webkit-font-smoothing: antialiased;
}

body.pg {
    /*font-family: Roboto; test;*/
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    min-width: 768px;
    font-size: 13px;
    line-height: 21px;
}

#main > .container {
    background: #ffffff;
    margin-top: 0;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.home #main > .container {
    margin-top: -300px;
}

/*
*
*
Header
*
*
*/

#header {
    background: #bf2a20;
    border-bottom: 1px #cc3333 solid;
}

#header .branding {
    background: #b61f16;
    padding: 20px 0;
}

.branding {
    margin: 0;
}

#header .branding #logo {
    width: 100%;
}

#header .branding .nav {
    margin: 0;
    padding-top: 15px;
    margin-bottom: -10px;
}

#header .branding .nav > li > a {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    padding: 8px 16px;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition: background-color linear .2s;
    -moz-transition: background-color linear .2s;
    -o-transition: background-color linear .2s;
    transition: background-color linear .2s;
}

#header .branding .nav > li > a:hover,
#header .branding .nav > li > a:focus {
  text-decoration: none;
  background-color: #990000;
}

#header .branding .nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.toolbar {

}


/*
*
*
Homepage search box
*
*
*/

#searchbox {
    background: #bf2a20;
    height: 650px;
}

#searchbox .g-container {
    padding-top:80px;
    text-align:center;
}

#searchbox .g-container h1 {
    color:#fff;
    font-weight:normal;
    text-shadow:0 2px 2px rgba(0,0,0,0.2);
    letter-spacing: -2px;
    font-size: 32px;
}

#searchbox .g-container .search-form {
    margin:20px auto;
    width:85%;
}

#searchbox .g-container .search-form-inner {
    background:#fff;
    height:64px;
    border-radius:7px;
    border:7px solid #990000;
}

.search-form-inner .col-span-6 {
    padding-left: 0;
    padding-right: 0;
}

.search-form-inner .search-input {
    position:relative
}

.search-form-inner .search-type {
    position:absolute;
    left: 5px; top: 5px;
}

.search-form-inner input {
    float: left;
    border: 0;
    padding: 15px 0 15px 140px;
    margin-bottom:0px;
    height:100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: none;
    font-size: 15px;
    font-weight: 400;
    color: #333;
}

.search-form-inner .search-criteria {
    float: right;
}

.search-form-inner .search-criteria > button.btn {
    padding-top:0;
    padding-bottom:0;
    height:40px;
}

.search-form-inner .search-criteria > button.search-btn {
    padding:0;
    width:60px;
    height:51px;
    font-size:24px;
    border-radius:0;
}


.search-options {
    margin-top: 10px;
    float: right;
}

.search-options > ul > li > a {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    display: block;
    -webkit-transition: background-color linear .2s;
    -moz-transition: background-color linear .2s;
    -o-transition: background-color linear .2s;
    transition: background-color linear .2s;
}

.search-options > ul > li > a:hover,
.search-options > ul > li > a:focus {
    text-decoration: none;
    background-color: #990000;
}


/*
*
*
Main body
*
*
*/

#main {
    position: relative;
}


/*
*
*
Sidebar
*
*
*/

#sidebar {
    overflow: hidden;
}

#sidebar section > .bordered {
}


/*
*
*
Subpages
*
*
*/


.sub #main > .container {
    margin-top: 0px;
}

.sub #main > #search-container {
    margin-top: -200px;
}


.sub #searchbox .g-container {
    padding: 0;
}

.sub #header .branding {
    padding: 10px 0;
}

.sub #header .branding .nav {
    padding-top: 0;
}

.sub #searchbox {
    height: 300px;
}

.sub h1 {
    font-size: 24px;
}


#page-header {
    padding: 10px 20px;
}

#page-header h1 {
    overflow: auto;
    white-space: pre-wrap;
}



/*
*
*
Search results
*
*
*/


.search-header .display-type {
    padding: 10px 0 10px 20px;
}

.search-body{
    width: 100%;
    margin-left: -240px;
    float: right;
}


.search-body> section {
    margin-left: 240px;
}

#fl > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#fl > ul > li.fl-listing {
    display: inline-block;
    padding: 10px;
    margin: 0;
    position: relative;
    color: #fff;
    overflow: hidden;;
}

.fl-listing a {
    color: #fff;
}

.fl-desc {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.fl-listing h3 {
    font-size: 140%;
}

.fl-listing a:hover .fl-desc {
    display: block;
    top: 0;
}

.sorting-bar {
    padding: 10px;
    background: #f8f8f8;
}

#search-result {

}

ul.property-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.property-list > li {
    position: relative;
    display: list-item;
    padding: 10px;
    min-height: 100px;
    border-left: 1px #ddd solid;
    border-top: 1px #ddd solid;
    clear: both;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

ul.property-list > li:nth-child(2n) {
    background: #f8f8f8;
}


ul.property-list > li:hover {
    background-color: #f0f0f0;
}

.property-item .thumbnail {
    border-radius: 0;
    padding: 0;
    position: relative;
}

.property-item .thumbnail a {

}

.property-item .thumbnail img {
    width: 100%;
}

.property-item .thumbnail .thumbnail-label {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 2px 5px;
    z-index: 1;
}

.property-item .thumbnail .photo {
    left: 0;
}

#search-result .thumbnail .video {
    right: 0;
}

.property-item .summary {
    float: right;
}

.property-item .summary > [class*="span"] {
    padding: 0 0 0 20px;
}

.property-item .summary ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.property-item .summary ul li {
}

.property-item .summary ul li [class*="icon-"] {
    color: #ccc;
}

.property-item .summary h3.title {
    font-size: 140%;
    margin: 0 0 10px;
}

.property-item .summary .price {
    font-size: 160%;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 0 10px;
    color: #cc0000;
}

ul.property-list > li .buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    visibility: hidden;
}

ul.property-list > li:hover .buttons {
    visibility: visible;
}

ul.list-small > li {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
}

ul.list-small .summary .price {
    font-size: 100%;
    letter-spacing: 0;
}

ul.list-small > li .buttons {
    margin-top: 10px;
    position: relative;
    bottom: auto;
    right: auto;
    visibility: visible;
}


#search-sidebar {
    width: 240px;
    float: left;
    z-index: 1;
    border-bottom: 1px #ddd solid;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#search-sidebar h4.panel-header {
    font-size: 14px;
    letter-spacing: 0;
    background: #f8f8f8;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    padding: 10px 20px;
    margin: 0;
}

#search-sidebar div.panel-body {
    padding: 10px 20px;
}

#search-footer {
    padding: 0 25px;
}

/*
*
*
Listing page
*
*
*/

.listing-summary {
    float: left;
    text-align: left;
    margin: 10px 0;
}

.listing-summary h1.name {
    margin-top: 0;
}

.price-summary {
    float: right;
    text-align: right;
    margin: 10px 0;
}

.price-summary .type {
    font-size: 14px;
    margin-bottom: 5px;
}

.price-summary .price {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #cc0000;
}

.listing-summary ul,
.price-summary ul {
    list-style: none;
    margin: 0;
    padding: 0 20px 0 0;
}

.price-summary ul {
    padding: 0;
}

.listing-summary ul > li,
.price-summary ul > li {
    margin-bottom: 7px;
}

.price-summary .listing-tools {
    margin-top: 10px;
}

.listing-summary ul > li [class*="icon-"] {
    color: #ccc;
}

#media ul.media-tabs {
    padding: 0 30px;
    font-size: 120%;
    font-weight: bold;
}

.media-tabs > li > a {
    background-color: #f2f2f2;
    border-bottom-color: #ddd;
}

.gallery-thumbnails {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.gallery-thumbnails > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-thumbnails > ul > li.gallery-thumbnail {
    display: inline-block;
    width: 80px;
    margin-right: 8px;
    padding: 2px
}

.gallery-thumbnails > ul > li:last-child {
    margin-right: 0;
}

table.table-detail > tbody > tr > td {
    border-left: 0;
    font-weight: bold;
} 

table.table-detail > tbody > tr > td:first-child {
    border-left: 1px solid #ddd;
    font-weight: normal;
} 

/*
*
*
Footer
*
*
*/

#footer {
    text-align: left;
    background: #333;
    -moz-box-shadow: inset 0 10px 20px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 10px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 10px 20px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 10px 20px rgba(0,0,0,0.2);
    box-shadow: inset 0 10px 20px rgba(0,0,0,0.2);
    color: #fff;
}

#footer .footer-top,  #footer .footer-bottom {
    padding: 20px 0;
    background: #222;
    color: #ddd;
    text-align: center;;
}

#footer .footer-top {
    font-size: 14px;
}

#footer .footer-main {
    padding: 20px;
} 

#footer .footer-main dl {
}

#footer .footer-main dl a {
    color: #ddd;
}

#footer .footer-main dl a:hover,
#footer .footer-main dl a:focus {
    color: #fff;
    text-decoration: none;
}

#footer .footer-main dl dt {
    font-size: 15px;
    margin-bottom: 10px;
}

#footer .footer-main dl dd {
    margin-left: 7px;
    margin-bottom: 3px;
}

#footer .footer-bottom p.copyright {
    color: #999;
}


/*
*
*
Utilities
*
*
*/

.whitebox {
    padding: 20px;
}

.whitebox-small {
    padding: 10px;
}


.bordered {
    border-left: #ddd solid 1px;
    border-top: #ddd solid 1px;
}

#content .bordered {
    border-left: 0px;
}

.mpu-desktop,
.mpu-tablet {
    display: block;
    background: #999;
    margin: 0 auto;
}

.mpu-desktop {
    width: 300px;
    height: 250px;
}

.mpu-tablet {
    width: 200px;
    height: 200px;
}

.lb-desktop {
    display: block;
    background: #999;
    margin: 10px auto;
    width: 728px;
    height: 90px;
}

.box-header {
    padding: 10px 20px;
}
